.postTitle {
  color: #bca767;
  background: radial-gradient(rgba(84, 88, 127, 1.0) 45%, rgba(84, 88, 127, 0) 55%);
}

.postTitle:hover {
  color: slategrey;
}

.blueButton {
  background-color: #07f5;
}

.redButton {
  background-color: #5005;
}

.formSubmitButton {
  background-color: #07fc;
}

.cancelButton {
  background-color: #500c;
}

.popupForm {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin: auto;
  background-color: ghostwhite;
  z-index: 25;
  border: 10px black solid;
}

.formInput {
  color: #333;
  width: 100%;
}
