/* .sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 4rem;
    padding: 25px;
    background-color: white;
}

.link {
    text-decoration: underline;
}

.link:hover {
    color: blue;
}

.form {
    display: none;
} */
