.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    padding: 25px;
}

.sidebar a {
  text-decoration: underline;
}

.form {
    display: none;
}

.button {
  background-color: #07f5;
}
