* {
  padding: 0;
  margin: 0;
  font-family: 'Fugaz One', cursive, Verdana, sans-serif;
  color: #ccc;
  box-sizing: border-box;
}

html {
  background:
    linear-gradient(rgba(84, 88, 127, 0.8), rgba(84, 88, 127, 0.8)),
    url(/images/laura-ollier-1XnXnRdzGbk-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  cursor: pointer;
  color: #b8c;
  text-decoration: none;
}

a:hover {
  color: #eaeaea;
}

.chrysalis-logo {
  width: 10%;
  min-width: 50px;
  max-width: 75px;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
}

.pageFooter {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.pageFooter a {
  text-decoration: underline;
}

.vercelLogo {
  height: 1em;
}

.WTFHeading {
  margin: auto;
  text-align: center;
  position: relative;
  top: 5rem;
}

.WTFHeading span {
  font-family: 'Misplaced', monotype;  /* 'Misplaced' from https://www.fontspace.com/misplaced-font-f2801 */
  background: -webkit-radial-gradient(slategrey, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainDisplay {
    display: flex;
    margin: 15% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

.errors {
  position: fixed;
  top: 15vh;
  text-align: center;
  background-color: #a00;
}

.errors ul {
  list-style: disc inside;
}

/* @media screen and (600px < width < 1000px) {
  .main-display {
    margin: 0.5em auto;
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .main-display {
    height: 90vh;
    width: 76%;
    margin: auto;
    padding: 0 0.5em 0 4.5em;
  }
}
 */
