.caterpillarSVG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.chrysalisSVG {
  width: 10%;
  min-width: 50px;
  max-width: 75px;
  display: inline-block;
  position: fixed;
  top: 5rem;
  left: 0;
  z-index: 99;
}

.myQuote {
  position: fixed;
  top: 50vh;
  left: 30vw;
  z-index: -1;
  color: #ccc0;
}
